# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Django
db.sqlite3
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node (tailwind)
node_modules/

# Deployment
staticfiles/

# Gemini
.gemini/
